body {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sup1 {
    width: 15px;
    height: 15px;
    position: absolute;
}

.sup2 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.imgRedonda {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    align-items: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.seccion {
    border-color: #aaaaaa;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
}